altgraph==0.17.2
auto-py-to-exe==2.16.0
bottle==0.12.19
bottle-websocket==0.2.9
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.11
EasyProcess==1.1
Eel==0.12.4
entrypoint2==1.0
future==0.18.2
gevent==21.12.0
gevent-websocket==0.10.1
google-api-core==2.5.0
google-api-python-client==2.36.0
google-auth==2.6.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.54.0
greenlet==1.1.2
httplib2==0.20.4
idna==3.3
jeepney==0.7.1
MouseInfo==0.1.3
mss==6.1.0
oauth2client==4.1.3
Pillow==9.0.1
protobuf==3.19.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
PyDrive==1.3.1
PyGetWindow==0.0.9
pyinstaller==4.9
pyinstaller-hooks-contrib==2022.0
PyMsgBox==1.0.9
pyparsing==3.0.7
pyperclip==1.8.2
PyRect==0.1.4
pyscreenshot==2.3
PyScreeze==0.1.28
python3-xlib==0.15
pytweening==1.0.4
PyYAML==6.0
requests==2.27.1
rsa==4.8
schedule==1.1.0
six==1.16.0
tk==0.1.0
uritemplate==4.1.1
urllib3==1.26.8
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.4.0
